<!DOCTYPE html>
<html>
  <head>
    <title>MixTrails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
    </style>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
    </style>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
    </style>


    <script type="text/javascript">
      window.logo_url = "<%= image_url('logo.png') %>";
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
